.header
  .title_left
    .title_left__text
      みんなのめもろぐ
  - if user_signed_in?
    .title_right
      .title_right__btn--left
        = link_to '/users/current_user.id', class: 'mypage' do
          マイページ
      .title_right__btn--right
        = link_to destroy_user_session_path, method: :delete, class: 'logout' do
          ログアウト
  - else
    .title_right
      .title_right__btn--left
        = link_to new_user_registration_path, class: 'signup' do
          新規開設
      .title_right__btn--right
        = link_to new_user_session_path, class: 'login' do
          ログイン