.header{
  height: 100px;
  width: 100vw;
  // background-color: beige;
  border-bottom: solid 1px $middle_mono;
  overflow-y: scroll;
  .title_left{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    color:$dark_mono;
    // background-color: aqua;
    &__text{
      position: absolute;
      font-family: 'Hiragino Mincho Pro';
      font-size: 20px;
      color:$middle_mono !important;
      top: 20px;
      left: 100px;
    }
  }
  .title_right{
    float: left;   
    width: 50%;
    position: relative;
    // background-color: aqua;
    &__btn--left{
      position: absolute;
      width: 100px;
      height: 30px;
      font-size: 12px;
      font-family: 'Hiragino Mincho Pro';
      border: solid 1px $middle_mono;
      text-align: center;
      line-height: 30px; 
      box-shadow:1px 1px $middle_mono;
      top: 50px;
      left: 350px;
      .acount{
        text-decoration: none;
        color:$middle_mono;
      }
      .back{
        text-decoration: none;  
        color:$middle_mono;
      }
    }
    &__btn--right{
      position: absolute;
      width: 100px;
      height: 30px;
      font-size: 12px;
      font-family: 'Hiragino Mincho Pro';
      border: solid 1px $middle_mono;
      text-align: center;
      line-height: 30px; 
      box-shadow:1px 1px $middle_mono;
      top: 50px;
      left: 470px;
      .toppage{
        text-decoration: none;  
        color:$middle_mono;
      }
    }
  }
}
.show_field{
  width:500px;
  height:100vh;
  margin: 50px auto;
  // background-color: bisque;
  overflow-y: scroll;
  .show_mount{
    width:90%;
    margin: 0 auto;
    box-shadow:0 2px 0 0 $light_mono;
    padding-bottom:40px;
    // background-color: aquamarine;

    .show_title{
      font-size: 25px;
      font-family: 'Hiragino Mincho Pro';  
      font-weight: 3em;  
      line-height: 30px;
      text-align: center;
    }
    .show_image{

    }
    .show_text{
      color:$dark_mono;
      font-size: 20px;
      font-family: 'Hiragino Mincho Pro';    
      width:500px;
      line-height: 25px;
      margin-top:30px; 
    }
  }
  .show_edit{
    float:left;
    width: 80px;
    height: 20px;
    font-size: 12px;
    font-family: 'Hiragino Mincho Pro';
    border: solid 1px $middle_mono;
    text-align: center;
    line-height: 20px; 
    box-shadow:1px 1px $middle_mono;
    margin-top:40px;
    margin-left:120px;
    .edit{
      text-decoration: none;  
      color:$middle_mono;
    }
  }
  .show_destroy{
    float:left;
    width: 80px;
    height: 20px;
    font-size: 12px;
    font-family: 'Hiragino Mincho Pro';
    border: solid 1px $middle_mono;
    text-align: center;
    line-height: 20px; 
    box-shadow:1px 1px $middle_mono;
    margin-top:40px;
    margin-left:90px;
    .destroy{
      text-decoration: none;  
      color:$middle_mono;
    }
  }
}

.my_contents{
  .my_description{
    float: left;
    width: 50%;
    height: 100vh;
    position: relative;
    .my_text{
      text-align: center;
      margin-top:60px;
      font-family: 'Hiragino Mincho Pro';
      font-size: 20px;
      font-weight:bold;
      color:$middle_mono;
    }
    .my_image{
      text-align: center;
      margin-top:40px;
      .my_page_image{

      }
    }
  }

  .right_contents{
    float: left;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    // background-color:honeydew;

    .article{
      height: 90px;
      width: 560px;
      border-bottom: solid 1px $middle_mono;
      // background-color: rgb(179, 241, 221);
      margin-top: 40px;
      &__left{
        float:left;
        // background-color: aqua;
        width:20%;
        &--image{
          // color: honeydew;
          width: 120px;
          height: 80px;
        }
      }
      &__right{
        float:left;
        width:80%;
        // background-color: rgb(223, 147, 147);

        &--title{
          // background-color: bisque;
          width: 100%;
          margin-left: 20px;
          font-size: 22px;
          font-family: 'Hiragino Mincho Pro';
          font-weight:2em;
          color:$dark_mono;
        }
        &--text{
          // background-color: cadetblue;
          width: 100%;
          margin-top:5px;
          margin-left: 23px;
          font-family: 'Hiragino Mincho Pro';
          font-size: 13px;
          font-weight:1em;
          color:$middle_mono;
        }
        &--user{
          float: left;
          width:130px;
          font-family: 'Hiragino Mincho Pro';
          font-size: 10px;
          color:$middle_mono;
          margin-top: 12px;
          margin-left:26px;
        }
        &--time{
          float: left;
          width:140px;
          font-family: 'Hiragino Mincho Pro';
          font-size: 10px;
          color:$middle_mono;
          margin-top: 12px;
        }
        &--btn{
          float: right;
          width:147px;
          height:20px;
          font-size: 10px;
          border: solid 1px $middle_mono;
          text-align: center;
          line-height: 20px; 
          box-shadow:1px 1px $middle_mono;
          margin-top: 5px;
          .article_details{
            text-decoration: none;
            color:$middle_mono;
          }
        }
      }
    }  
  }
}  
.footer{
  // position: fixed;
  height: 80px;
  width: 100vw;
  // background-color: brown;
  overflow-y: scroll;
}


